<html>
    <head>
        <title>Progetto Programmazione ad oggetti</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <style>
            .card-body {
                overflow: auto;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <div class="container">
                <h1 class="mb-5 mt-3">Progetto di programmazione ad oggetti</h1>

                <div class="card mb-4">
                    <div @click="getAllData" class="card-header">
                        <h5 style="display:inline;">Visualizza i dati relativi al dataset</h5>
                        <i v-if="allDataShown" style="font-size:150%;" class="fas fa-angle-up float-right"></i>
                        <i v-if="!allDataShown" style="font-size:150%;" class="fas fa-angle-down float-right"></i>
                    </div>
                    <data-table v-show="allDataShown" ref="dataChild"></data-table>
                    <div class="card-footer">
                        <a class="btn btn-primary" href="/data" role="button">Visualizza in formato JSON</a>
                    </div>
                </div>

                <div class="card mb-4">
                    <div @click="getMetadata" class="card-header">
                        <h5 style="display:inline;">Visualizza i metadati relativi al dataset</h5>
                        <i v-if="metadataShown" style="font-size:150%;" class="fas fa-angle-up float-right"></i>
                        <i v-if="!metadataShown" style="font-size:150%;" class="fas fa-angle-down float-right"></i>
                    </div>
                    <metadata-table v-show="metadataShown" ref="metadataChild"></metadata-table>
                    <div class="card-footer">
                        <a class="btn btn-primary" href="/metadata" role="button">Visualizza in formato JSON</a>
                    </div>
                </div>

                <div class="card mb-4">
                    <div @click="filterFormShown = !filterFormShown" class="card-header">
                        <h5 style="display:inline;">Filtra il dataset</h5>
                        <i v-if="filterFormShown" style="font-size:150%;" class="fas fa-angle-up float-right"></i>
                        <i v-if="!filterFormShown" style="font-size:150%;" class="fas fa-angle-down float-right"></i>
                    </div>
                    <div v-show="filterFormShown" class="card-body">
                        <filter-form @filter-submit="handleFilterSubmit" ref="filterForm"></filter-form>
                    </div>
                </div>

                <div class="card mb-4">
                    <div @click="statsFormShown = !statsFormShown" class="card-header">
                        <h5 style="display:inline;">Ottieni statistiche sul dataset</h5>
                        <i v-if="statsFormShown" style="font-size:150%;" class="fas fa-angle-up float-right"></i>
                        <i v-if="!statsFormShown" style="font-size:150%;" class="fas fa-angle-down float-right"></i>
                    </div>
                    <div v-show="statsFormShown" class="card-body">
                        WEEEEEEEEEE
                    </div>
                </div>

                <div v-show="filterResultLoaded" class="card mb-4">
                    <div @click="openResults" class="card-header">
                        <h5 style="display:inline;">Risultati filtro</h5>
                        <i v-if="filterResultShown" style="font-size:150%;" class="fas fa-angle-up float-right"></i>
                        <i v-if="!filterResultShown" style="font-size:150%;" class="fas fa-angle-down float-right"></i>
                    </div>
                    <data-table v-show="filterResultShown" ref="filterResultChild"></data-table>
                </div>
            </div>
        </div>
        <script type="module" src="main.js"></script>
    </body>
</html>